# Configuration file

boundary {
    S:blockA=minecraft:wool
    S:blockB=minecraft:wool
    I:chunkIntervalX=0
    I:chunkIntervalZ=0
    I:metaA=4
    I:metaB=15
}


center {
    S:block=minecraft:wool
    I:direction=0
    B:enabled=false
    I:meta=14
}


gap {
    S:blockA=minecraft:wool
    S:blockB=minecraft:wool
    S:blockC=minecraft:wool
    I:metaA=15
    I:metaB=0
    I:metaC=0
    I:preset=0
    I:width=0
}


time {
    I:rainTime=81322
    B:raining=false
    I:thunderTime=130267
    B:thundering=false
    S:worldTime=838555886
}


visual {
    B:cloudsEnabled=false
    I:daylightCycle=0
    I:skyColor=7574783
    I:skyType=1
    D:starBrightness=1.0
    B:weatherEnabled=false
}


worldgen {
    # One-time-use permission to change generation settings on the world
    B:allowGenerationChanges=false

    # Apply boundary, gap, and center marker generation to every surface layer instead of only at ground level. A surface layer is a non-air layer with air directly above it
    B:applyToAllSurfaceLayers=false
    S:biomeId=MushroomIsland
    I:dimId=181
    B:generatingTrees=false
    B:generatingVegetation=false
    S:layers=
}


