# Configuration file

visual {
    B:cloudsEnabled=false
    I:daylightCycle=1
    I:skyColor=0
    I:skyType=1
    D:starBrightness=1.0
    B:weatherEnabled=false
}


worldgen {
    # One-time-use permission to change generation settings on the world
    B:allowGenerationChanges=false
    S:biomeId=Temperate Rainforest
    I:dimId=182
    B:generatingTrees=false
    B:generatingVegetation=false
    S:layers=minecraft:bedrock;minecraft:dirt*148;minecraft:grass
}


