# Configuration file

boundary {
    S:blockA=minecraft:wool
    S:blockB=minecraft:wool
    I:chunkIntervalX=0
    I:chunkIntervalZ=0
    I:metaA=4
    I:metaB=15
}


center {
    S:block=minecraft:wool
    I:direction=0
    B:enabled=false
    I:meta=14
}


gap {
    S:blockA=minecraft:wool
    S:blockB=minecraft:wool
    S:blockC=minecraft:wool
    I:metaA=15
    I:metaB=0
    I:metaC=0
    I:preset=0
    I:width=0
}


time {
    I:rainTime=169628
    B:raining=false
    I:thunderTime=48471
    B:thundering=false
    S:worldTime=835401698
}


visual {
    B:cloudsEnabled=true
    I:daylightCycle=2
    I:skyColor=14547
    I:skyType=0
    D:starBrightness=1.0
    B:weatherEnabled=false
}


worldgen {
    # One-time-use permission to change generation settings on the world
    B:allowGenerationChanges=false

    # Apply boundary, gap, and center marker generation to every surface layer instead of only at ground level. A surface layer is a non-air layer with air directly above it
    B:applyToAllSurfaceLayers=false
    S:biomeId=Plains
    I:dimId=183
    B:generatingTrees=false
    B:generatingVegetation=false
    S:layers=
}


