[Unit]
Description=GTNH V4 hourly git backup
Wants=network-online.target
After=network-online.target

[Service]
Type=oneshot
User=ubuntu
WorkingDirectory=/home/ubuntu/GTNH_V4
ExecStart=/home/ubuntu/GTNH_V4/gtnh backup
TimeoutStartSec=30min
