# Configuration file

##########################################################################################################
# general
#--------------------------------------------------------------------------------------------------------#
# General configuration options for Crafting Tweaks.
##########################################################################################################

general {
    # Set this to true if you want the (de)compress feature to work outside of crafting GUIs (only works if installed on server). [default: false]
    B:compressAnywhere=false

    # Set this to true if you don't want the tweak buttons' tooltips to show. [default: false]
    B:hideButtonTooltips=false

    # This option is toggled by the 'Toggle Buttons' key that can be defined in the Controls settings. [default: false]
    B:hideButtons=false
}


