# Configuration file

vendingmachine {

    vendingmachinesettings {
        #  [range: -2147483648 ~ 2147483647, default: 20]
        I:gui_refresh_interval=20

        #  [default: true]
        B:restock_notifications_enabled=true

        #  [range: -2147483648 ~ 2147483647, default: 200]
        I:restock_notifications_interval=200
    }

    gui {
        # 
        # Possible values: [TILE, LIST]
        #  [default: TILE]
        S:display_type=TILE

        #  [default: true]
        B:show_coins=true

        # 
        # Possible values: [SMART, ALPHABET]
        #  [default: SMART]
        S:sort_mode=SMART

        # Update coin icon depending on amount. [default: false]
        B:update_coin_icon=false

        # 
        # Possible values: [PERSONAL, TEAM]
        #  [default: PERSONAL]
        S:wallet_mode=PERSONAL
    }

    team {
        #  [range: -2147483648 ~ 2147483647, default: -1]
        I:maxTradeLimit=-1

        #  [default: false]
        B:soloTeam=false
    }

    music {
        # 
        # Possible values: [NONE, LUNCH_BREAK]
        #  [default: LUNCH_BREAK]
        S:current_track=LUNCH_BREAK

        #  [range: 0.0 ~ 2.0, default: 0.75]
        S:music_volume=0.75
    }

    developer {
        #  [default: vendingmachine]
        S:data_dir=vendingmachine

        #  [default: false]
        B:force_rewrite_database=false

        #  [default: config/vendingmachine]
        S:trade_db_dir=config/vendingmachine
    }

}


